<a href="https://colab.research.google.com/github/danielsantamariarod/testing3/blob/main/LaboratorioPruebaR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Taller de prueba
Este es un taller de prueba con el cual se pretende mostrar c√≥mo se pueden plantear ejercicios de laboratorio de programaci√≥n en **lenguaje R** para los estudiantes dando feedback formativo.

In [74]:
# import script from github
# https://github.com/danielsantamariarod/testing3/blob/main/tests.R
download.file("https://raw.githubusercontent.com/danielsantamariarod/testing3/main/tests.R", "tests.R")
source("tests.R")

### Parte 1: Carga de un frame
En este primer ejemplo vamos a cargar un frame con datos de prueba. Para ello vamos a usar un archivo de ejemplo :

In [31]:
# prompt: load csv file from github

library(readr)

# Replace with the actual raw GitHub URL of your CSV file
csv_url <- "https://raw.githubusercontent.com/danielsantamariarod/testing3/main/gasto_col_2017.csv"

# Read the CSV file directly from the URL
gasto_col_df <- read_csv(csv_url)

# Display the first few rows of the imported dataframe
head(gasto_col_df)

Rows: 38 Columns: 13
‚îÄ‚îÄ Column specification ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
Delimiter: ","
chr  (1): Ciudad
dbl (12): Alimentos y bebidas no alcoh√≥licas, Bebidas alcoh√≥licas y tabaco, ...

‚Ñπ Use `spec()` to retrieve the full column specification for this data.
‚Ñπ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Ciudad             Alimentos y bebidas no alcoh√≥licas
1 Arauca              76.53250
2 Armenia            104.22719
3 Barrancabermeja     73.49564
4 Barranquilla        85.05942
5 Bogot√°             103.56115
6 Bucaramanga y A.M. 116.11247
  Bebidas alcoh√≥licas y tabaco Prendas de vestir y calzado
1 11.98378                     21.06523
2 18.61039                     39.65162
3 23.51155                     25.20402
4 16.02861                     23.79848
5 21.83943                     42.81424
6 19.98152                     30.14493
  Alojamiento, agua, electricidad, gas y otros combustibles
1 158.9527
2 174.2521
3 218.3779
4 204.7928
5 295.8176
6 256.0903
  Muebles, art√≠culos para el hogar y para la conservaci√≥n ordinaria del hogar
1 15.04075
2 26.52474
3 16.63767
4 20.16287
5 34.16808
6 27.26003
  Salud     Transporte Informaci√≥n y comunicaci√≥n Recreaci√≥n y cultura
1 11.793285  20.65626  20.40456                   11.52332
2 14.846364  71.42634  30.48673                   28.14863
3  8.367648  51.84284  25.65336                   12.85302
4  7.785154  61.04324  24.50607                   12.26152
5 27.459289 111.87081  40.65746                   36.48435
6 16.972276  78.57680  31.04953                   22.85633
  Educaci√≥n Restaurantes y hoteles Bienes y servicios diversos
1  24.24035 44.13055                55.11052
2  58.90292 62.73580               145.31722
3  68.65088 42.09062                58.65761
4  58.34858 54.05167                72.25297
5 134.93325 94.64353               236.88754
6  64.61003 89.82978               118.63396

## Parte 2: Filtrado de datos
Vamos a filtrar elementos que cumplan una condici√≥n.

### Ejemplo:
Ciudades con gastos menores a 8

In [45]:
gastos_menores_salud <- subset(gasto_col_df, Salud < 8)[, c("Ciudad", "Salud")]

gastos_menores_salud

  Ciudad         Salud
1 Barranquilla   7.785154
2 Leticia        4.906021
3 Mit√∫           4.457025
4 Monter√≠a       6.428257
5 Puerto Carre√±o 7.405873
6 Quibd√≥         5.530473
7 San Andr√©s     7.048846
8 Santa Marta    5.884119
9 Soledad        6.081591

### Ejercicio:
Ciudades con gasto en transporte mayor a 70

In [58]:
gastos_mayores_transporte <- subset(gasto_col_df, Transporte > 70)[, c("Ciudad", "Transporte")]
# gastos_mayores_transporte <- ____

gastos_mayores_transporte

   Ciudad             Transporte
1  Armenia             71.42634
2  Bogot√°             111.87081
3  Bucaramanga y A.M.  78.57680
4  Cali                72.36064
5  Manizales y A.M.    92.66597
6  Medell√≠n y A.M.     88.99316
7  Neiva               71.10493
8  Rionegro           108.93473
9  Tunja               92.47844
10 Villavicencio       75.88955

In [75]:
# Utiliza esta celda para comprobar tu respuesta, recibir una pista o pedir la soluci√≥n
#test_trial1(gastos_mayores_transporte)

#hint_trial1()

solution_trial1()

‚úÖ Soluci√≥n:

gastos_mayores_transporte <- subset(gasto_col_df, Transporte > 70)[, c("Ciudad", "Transporte")]‚úÖ Explicaci√≥n de la soluci√≥n:

La instrucci√≥n:
gastos_mayores_transporte <- subset(gasto_col_df, Transporte > 70)[, c("Ciudad", "Transporte")]

realiza dos operaciones encadenadas para construir el resultado deseado:

1. üîπ Filtrado con `subset()`:
   Se seleccionan √∫nicamente aquellas filas del data frame `gasto_col_df`
   en las que el valor de la columna `Transporte` es mayor a 70.
   Ejemplo: subset(gasto_col_df, Transporte > 70)

2. üîπ Selecci√≥n de columnas espec√≠ficas:
   Se usa la notaci√≥n de corchetes `[ , ]` para elegir solo las columnas
   "Ciudad" y "Transporte" del resultado anterior.
   Ejemplo: [ , c("Ciudad", "Transporte")]

3. üîπ Asignaci√≥n a una nueva variable:
   Todo el resultado se guarda en la variable `gastos_mayores_transporte`,
   que contiene solo las ciudades con gasto en transporte superior a 70,
   y √∫nicamente las columnas relevantes.

Este tipo de operaci√≥n es muy √∫til para construir subconjuntos
de datos seg√∫n criterios espec√≠ficos de an√°lisis.